.accueil {
  background-color: #FBFBFB;

  section {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .section-presentation {
    background-color: rgb(255, 255, 255);
    padding: 6rem;
    align-items: center;

    .texte-presentation {
      text-align: center;

      h1 {
        font-size: 3rem;
        font-weight: 700;
      }

      h1:nth-child(2){
        color: seagreen;
      }

    }

  }

  .section-propos {
    justify-content: center;
    align-items: center;

    .bloc-propos {
      height: 80%;
      width: 80%;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      background-color: white;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  
      .image-propos {
        width: 50%;
        height: 100%;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }	
  
      .texte-propos {
        width: 50%;
        padding: 10px;
  
        // .titre-propos {
        //   // font-size: 2.2rem;
        // }
  
        // .extrait-propos {
        //   // font-size: 1.5rem;
        // }	
  
      }

    }

  }

  // .section-projet {

  // }

  // .section-teimoignage {

  // }

}