.piedDePage{
  background-color: #3A3A3A;
  color: white;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .contacte {
    text-align: center;
    
    h2 {
      
    }

    p{

    }
  }
}