.piedDePage{
  background-color: #BC6C25;
  color: white;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .contacte {
    text-align: center;
    
    h2 {
      font-weight: bold;
    }

    p{
      font-weight: lighter;
    }
  }

  .liens {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

    a {
      display: block;
      width: 50px;
      height: 50px;
      transition: transform .5s ease-in-out;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      &:hover {
        transform: scale(1.1);
      }

    }
    
  }
}