.mainProjets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #FBFBFB;

  .titre {
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BC6C25;
    margin-bottom: 30px;

    h1 {
      padding-top: 50px;
      color: #FEFAE0;
      text-align: center;
      font-weight: bold;
    }

  }

}
